<header>
    <h1 class="site-title typing-effect">"Behind You, a Syntax Error..."</h1>

    <nav>
        <button
            class="menu-toggle"
            aria-label="Toggle navigation menu"
            aria-expanded="false"
        >
            <span>Menu</span>
            <div class="menu-toggle-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="blog.html">blog</a></li>
            <li><a href="cv.html">cv</a></li>
            <li><a href="portfolio.html">portfolio</a></li>
            <li><a href="contact.html">contact</a></li>
        </ul>
    </nav>
</header>
