html,
body,
.container {
    height: 100%;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: #333;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 10rem rgba(0, 0, 0, 1);
    background-image: url('../images/bg-7.jpg'); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    font-family: 'Fira Sans', sans-serif !important;
    margin-bottom: 60px; /* Margin bottom by footer height */
    overflow: hidden;
}

.flex-container {
    height: 85%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-row {
    width: auto;
}
.flex-item {
    padding: 5px;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}

.section-about,
.section-skills .professional-skills,
.section-skills .additional-skills,
.section-education .education-content,
.section-experience .icon-experience,
.section-experience .experience-content,
.section-portfolio .item-portfolio,
.section-pricing .pricing-content,
.section-testimonials .swiper-slide,
.section-blog .blog-content,
.section-contact-us .form-content,
.section-contact-us .info-content {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15),
        0 2px 10px 0 rgba(0, 0, 0, 0.11);
}

.section-experience .icon-experience {
    display: inline-block;
    margin-left: 161px;
    padding: 8px 13px;
}

.section-experience .all-experience {
    border-left: 5px solid #ffffff;
}
.section-experience .all-experience {
    margin-left: 180px;
    padding-top: 45px;
    padding-left: 23px;
}

.loading-overlay,
.section-about,
.section-skills .professional-skills,
.section-skills .additional-skills,
.section-education .education-content,
.section-experience .icon-experience,
.section-experience .experience-content,
.section-pricing .pricing-content,
.section-testimonials .swiper-slide,
.section-blog .blog-content,
.section-contact-us .form-content,
.section-contact-us .info-content,
.section-portfolio .filter-portfolio li:hover,
.scroll-top,
.theme-option,
.theme-option .open-theme,
.more-blog .pagination-blog a {
    background-color: #ffffff;
}
.section-experience .experience-content {
    padding: 30px;
    margin-bottom: 45px;
}

.section-about,
.section-skills .professional-skills,
.section-skills .additional-skills,
.section-education .education-content,
.section-experience .icon-experience,
.section-experience .experience-content,
.section-portfolio .item-portfolio,
.section-pricing .pricing-content,
.section-testimonials .swiper-slide,
.section-blog .blog-content,
.section-contact-us .form-content,
.section-contact-us .info-content {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15),
        0 2px 10px 0 rgba(0, 0, 0, 0.11);
}
